@import url(https://fonts.googleapis.com/css?family=Oxygen|Rubik:300);
$base-font: 'Rubik', Arial, sans-serif;
$base-font-size: 12px;
$white: #dadadb;
$black: #18191d;
$drk-gray: #1f2025;
$lt-gray: #353741;
$lt-green: #b8d087;
$green: #00996d;
